{% extends 'auctions/layout.html' %}




{% block body %}
<h2>{{cat}}</h2>

<form action="{% url 'category' %}" method="post">
    {% csrf_token %}
    <p style="font-size: 20px"><select name="category"></p>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}
    </select>

    <input type="submit" class="btn btn-outline-success" value="Let's See">
</form>







<ul style="list-style-type:none;">
    {% for listing in listings %}
    
        <div style="border: 1px solid lightgray; margin: 50px; padding: 20px; border-radius: 10px;">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width:40px;">
                            <img src="{{ listing.img_url }}" style="width:80%;"/>
                        </td>
                        <td style="width: 60%;"  valign="top">
                            <a href="{% url 'listing_view' listing.id%}" class="display-flex">{{listing.item_name}}</a>
                            <div>{{ listing.item_description }}</div>
                            <div>Bid: ${{ listing.price }}</div>
                            <div>Listed By: ${{ listing.seller }}</div>
                            
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    {% empty %}
        {% if category != "" %}
            <li>No listings in this category</li>
        {% endif %}

    {% endfor %}

 
    
</ul>
<a href="{% url 'index' %}">Return to Index</a>
{% endblock %}