{% extends "auctions/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
    

        {% for listing in listings %}
            {% if listing.close_listing %}
            <div class="container border p-2 m-2">
                <div class="row">
                    <div class="col">
                        
                        <img src="{{ listing.img_url }}" alt="no img available" style="width: 300px; height: auto">
                    </div>
                    <div class="col text-left">
                        <h3> Listing ID {{listing.id}} </h3>
                        <a href="{% url 'listing_view' listing.id%}" class="display-flex">{{listing.item_name}}</a>
                        <h4>Buyout Price: ${{ listing.price }}</h4>
                        <p><small>{{ listing.start_time }}</small></p>
                        <p><small>{{listing.seller}}</small></p>
                        
                        
                       
                    </div>




            {% endif %}
        {% endfor %}
    {% endif %}   
{% endblock %}